.tituloAfter {
  color: darkred;
}

.tituloAfter:hover {
  color: darkblue;
}

article p:first-child {
  font-size: 120%;
  font-weight: bold;
}

p:link,
a:visited {
  color: green;
  font-weight: bold;
}
/* cuanddo el link es visitado toma el color que coloquemosw */

a:hover {
  color: hotpink;
}

a:focus {
  color: red;
}
